'.source.js':
  'React Component':
    'prefix': 'rc'
    'body': """
      class $1 extends React.Component {
        constructor(props) {
          super(props)$2
        }

        render() {
          return ($0)
        }
      }
    """

  'Component Did Mount':
    'prefix': 'rd'
    'body': """
      componentDidMount() {
        $0
      }
    """
  'Component Will Mount':
    'prefix': 'rw'
    'body': """
      componentWillMount() {
        $0
      }
    """

  'Handler':
    'prefix': 'rh'
    'body': """
      handle$1($2) {
        $0
      }
    """

  'React Render':
    'prefix': 'rr'
    'body': 'React.render(React.createElement(${1:Main}, null), ${2:document.body});$0'

  'DIV':
    'prefix': 'div'
    'body': "<div>$1</div>$0"
  'SPAN':
    'prefix': 'span'
    'body': "<span>$1</span>$0"
  'Class Name':
    'prefix': 'cn'
    'body': "className='$1'$0"
